<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>arbor.js project template</title>
  
	<link rel="stylesheet" href="/static/style.css" type="text/css">
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <script type='text/javascript' src="/static/lib/jquery.min.js"></script>
  <link href="/static/bootstrap-slider.css" rel="stylesheet">
  
<script type='text/javascript' src="/static/lib/bootstrap-slider.js"></script>
</head>
<body>
<link href="/static/css/flatnav.css" rel="stylesheet">
<center></br></br><ul class="nav">
    <li id="settings">
      <a href="#"><img src="/static/img/home.ico" onclick="changehide()" /></a>
    </li>
    <li>
      <a href="https://news.ycombinator.com/">Hack News</a>
    </li>
    <li>
      <a href="https://github.com/">Git</a>
    </li>
    <li id="search">
      <div action="/search" class="search-form">
        <input type="text" name="search_text" id="search_text" placeholder="Search"/>
        <input type="button" name="search_button" id="search_button"></a>
      </div>
    </li>
    
  </ul></center>
  <canvas id="viewport" width="1400" height="500" calss="mainnav" ></canvas>
  <input id="ex11" type="text" class="sliderr" />
  <div id="search_show" width="1000" height="500">
    <ol >
  <li id="1001">Coffee</li>
  <li id="1002">Coffee</li>
  <li id="1003">Coffee</li>
  <li id="1004">Coffee</li>
  <li id="1005">Coffee</li>
  <li id="1006">Coffee</li>
  <li id="1007">Coffee</li>
  <li id="1008">Coffee</li>
  <li id="1009">Coffee</li>
  <li id="10010">Coffee</li>
  <li id="10011">Coffee</li>
  <li id="10012">Coffee</li>
  </ol>
  <ol>
  <li id="2001">Coffee</li>
  <li id="2002">Coffee</li>
  <li id="2003">Coffee</li>
  <li id="2004">Coffee</li>
  <li id="2005">Coffee</li>
  <li id="2006">Coffee</li>
  <li id="2007">Coffee</li>
  <li id="2008">Coffee</li>
  <li id="2009">Coffee</li>
  <li id="20010">Coffee</li>
  <li id="20011">Coffee</li>
  <li id="20012">Coffee</li>
  </ol>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

  <!-- run from the original source files: -->
  <!-- <script src="src/etc.js"></script>
       <script src="src/kernel.js"></script>
       <script src="src/graphics/colors.js"></script>
       <script src="src/graphics/primitives.js"></script>
       <script src="src/graphics/graphics.js"></script>
       <script src="src/tween/easing.js"></script>
       <script src="src/tween/tween.js"></script>
       <script src="src/physics/atoms.js"></script>
       <script src="src/physics/physics.js"></script>
       <script src="src/physics/system.js"></script>
       <script src="src/dev.js"></script> -->

  <!-- run from the minified library file: -->
  <script src="/static/lib/arbor.js"></script>  
  <script src="/static/src/graphics/colors.js"></script>
  <script src="/static/src/graphics/primitives.js"></script>
  <script src="/static/src/graphics/graphics.js"></script>
  <script src="/static/main.js"></script>
  <script src="/static/src/kernel.js"></script>
  <script src="/static/lib/arbor-graphics.js"></script>

</body>
</html>
